
.chat-list-wrap {
    width: 100%;
}

.room-list {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 20px 0 20px;
    flex-direction: column;
    /*align-content: center;*/
    /*align-items: center;*/
    /*align-self: center;*/
}

.no-chat-img {
    width: 120px;
    height: 120px;
}
.no-room {
    text-align: center;
    margin-top: 200px;
}
.no-room p {
    margin-top: 10px;
    color: #CBD5E1;
}
