.create-intro {
	margin-bottom: 70px;
}
.cd-body {
	// margin: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 74px;
	.cd-page {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 23px;
		.page-tap {
			display: inline-flex;
			height: 27px;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			gap: 7px;
			font-size: var(--medium-font);
			font-weight: var(--medium-bold);
			.page-hr {
				background-color: var(--deep-blue-color);
				height: 1px;
				width: 45vw;
			}
		}
	}
	.cd-form {
		width: 90%;
		.cd-category {
			margin-bottom: 20px;
			.ca-title {
				font-weight: var(--bold);
				margin-bottom: 8px;
			}
			.ca-btns {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				gap: 8px;
			}
		}
		.cd-person-choice {
			display: flex;
			flex-direction: row;
			align-items: center;
			font-size: var(--small-font);
			font-weight: var(--semi-bold);
			.pc-title {
				font-size: var(--default-font);
				font-weight: var(--bold);
				margin-right: 10px;
			}
			input {
				margin-right: 5px;
				&:checked {
					accent-color: var(--deep-blue-color);
				}
				&:checked + label {
					color: var(--deep-blue-color);
				}
			}
			label {
				margin-right: 10px;
			}
		}
		.cd-person-number {
			display: flex;
			flex-direction: row;
			margin-top: 16px;
			// 축제 한정 주석
			// margin-bottom: 23px;
			margin-bottom: 10px;
			margin-left: 8px;
			.pn-btn-group {
				display: flex;
				align-items: center;
				gap: 16px;
				.pn-btn {
					padding: 10px 16px;
					border-radius: 9999px;
					border: 3px solid var(--white-purple-color);
					background: var(--white-color);
					font-size: var(--medium-font);
					&:hover,
					&:active {
						border: 3px solid var(--purple-color);
					}
				}
			}
			img {
				cursor: pointer;
			}
			.pn-input {
				padding: 10px 23px;
				margin: 0 8px;
				border-radius: 5px;
				border: 2px solid var(--light-gray-color);
				background: var(--white-color);
			}
		}
		.cd-meet-date {
			margin-bottom: 22px;
			.md-title {
				font-weight: var(--bold);
				margin-bottom: 6px;
			}
			.md-row {
				// margin-left: 8px;
				margin-bottom: 9px;
				display: flex;
				align-items: center;

				.md-date-label {
					margin-right: 9px;
				}
				.md-date-input {
					border-radius: 5px;
					border: 2px solid var(--light-gray-color);
					background: var(--white-color);
					padding: 6px;
					font-family: Pretendard;
					font-size: 14px;
					font-weight: 400;
					color: var(--black-color);
					outline-color: var(--deep-blue-color);
					// 축제에만 사용할 padding
					padding: 8px;
					&::before {
						content: attr(date-placeholder);
						color: #bfc3d4;
						width: 100%;
					}
					&:focus::before,
					&:valid::before {
						display: none;
					}
				}
				.md-time-label {
					margin-left: 17px;
					margin-right: 9px;
				}
				.md-time-input {
					border-radius: 5px;
					border: 2px solid var(--light-gray-color);
					background: var(--white-color);
					color: var(--black-color);
					font-family: Pretendard;
					font-size: 14px;
					font-weight: 400;
					padding: 8px;
					outline-color: var(--deep-blue-color);
					&::before {
						content: attr(date-placeholder);
						color: #bfc3d4;
						width: 100%;
						margin-left: 3vw;
					}
					&:focus::before,
					&:valid::before {
						display: none;
					}
				}
			}
		}
		.cd-meet-location {
			margin-bottom: 22px;
			.ml-title {
				font-weight: var(--bold);
				margin-bottom: 5px;
			}
			.ml-ex {
				font-size: var(--small-font);
				color: var(--gray-color);
				margin-bottom: 7px;
			}
			.ml-input {
				border-radius: 5px;
				border: 2px solid var(--light-gray-color);
				background: var(--white-color);
				width: 85vw;
				padding: 8px;
				outline-color: var(--deep-blue-color);
				&::placeholder {
					color: #bfc3d4;
				}
			}
		}
		.cd-contact {
			.cc-title {
				font-weight: var(--bold);
				margin-bottom: 10px;
			}
			.cc-input {
				border-radius: 5px;
				border: 2px solid var(--light-gray-color);
				background: var(--white-color);
				width: 85vw;
				padding: 8px;
				outline-color: var(--deep-blue-color);
				&::placeholder {
					color: #bfc3d4;
				}
			}
			.cc-error-message {
				font-size: var(--small-font);
				color: var(--orange-color);
				font-weight: var(--medium-bold);
				margin-top: 10px;
			}
		}
	}
	.next-btn {
		width: 90%;
		margin-top: 55px;
	}
}
