.ci-body {
	margin: 0 20px;
	margin-top: 74px;
	.ci-page {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 23px;
		.page-tap {
			display: inline-flex;
			height: 27px;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			gap: 7px;
			font-size: var(--medium-font);
			font-weight: var(--medium-bold);
			.page-hr {
				background-color: var(--deep-blue-color);
				height: 1px;
				width: 45vw;
				// width: 50%;
				// height: 1px;
			}
		}
	}
	.ci-title {
		margin-bottom: 27px;
		.ct-title {
			font-weight: var(--bold);
			margin-bottom: 6px;
		}
		.ct-input {
			border-radius: 5px;
			border: 2px solid var(--light-gray-color);
			background: var(--white-color);
			padding: 11px;
			width: 94%;
			outline-color: var(--deep-blue-color);
			&::placeholder {
				color: #bfc3d4;
			}
		}
	}
	.ci-img-upload {
		margin-bottom: 27px;
		.ciu-title {
			font-weight: var(--bold);
			margin-bottom: 8px;
		}
		.ciu-img-group {
			display: flex;
			flex-direction: row;
			.ciu-img {
				width: 72px;
				height: 72px;
				background-color: var(--white-purple-color);
				border-radius: 20px;
				text-align: center;
				margin: 0 auto;
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
				.ciu-img-file {
					width: 100%;
					border-radius: 20px;
					object-fit: cover;
					// width: 22px;
					// height: 22px;
				}
				// img {
				// 	width: 72px;
				// 	height: 72px;
				// 	border-radius: 20px;
				// }
			}
		}
	}
	.ci-content {
		.cct-title {
			font-weight: var(--bold);
			margin-bottom: 8px;
		}
		.cct-textarea {
			border-radius: 5px;
			border: 2px solid var(--light-gray-color);
			background: var(--white-color);
			resize: none;
			width: 94%;
			height: 293px;
			padding: 11px;
			outline-color: var(--deep-blue-color);
			&::placeholder {
				color: #bfc3d4;
			}
		}
	}
	.ci-friend-invite {
		display: flex;
		flex-direction: column;
		margin-top: 21px;
		.cfi-title {
			font-weight: var(--bold);
			margin-bottom: 16px;
		}
		.cfi-input {
			border-radius: 5px;
			border: 2px solid var(--light-gray-color);
			background: var(--white-color);
			padding: 11px;
			width: 94%;
			outline-color: var(--deep-blue-color);
			margin-bottom: 15px;
			&::placeholder {
				color: #bfc3d4;
			}
		}
	}
}
