.my-feed {
	margin-bottom: 70px;
	.mf-body {
		margin: 0 20px;
		margin-top: 74px;
		.mf-user {
			border-radius: 10px;
			background: var(--white-color);
			box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.25);
			padding: 19px 18px;
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: 28px;
			.mu-user-img {
				width: 53px;
				height: 53px;
				border-radius: 25.5px;
				margin-right: 11px;
			}
			.mu-text {
				.mu-name {
					font-size: var(--medium-font);
					font-weight: var(--semi-bold);
				}
				.mu-classof {
					font-size: 13px;
					font-weight: var(--medium-bold);
				}
			}
		}
		.mf-page {
			display: flex;
			flex-direction: row;
			justify-content: center;
			margin-bottom: 23px;
			.page-tap {
				display: inline-flex;
				height: 27px;
				flex-direction: column;
				justify-content: flex-end;
				align-items: center;
				gap: 7px;
				font-size: var(--medium-font);
				font-weight: var(--medium-bold);
				.page-hr {
					background-color: var(--deep-blue-color);
					height: 1px;
					width: 45vw;
				}
			}
		}
		.mf-card-list {
			width: 100%;
			margin-top: 16px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			justify-items: center;
			row-gap: 20px;
		}
	}
}
