.my-page {
	.mp-body {
		padding-top: 52px;
		padding-bottom: 71px;
		display: flex;
		flex-direction: column;
		width: 90%;
		height: 100%;
		margin: 0 auto;
		.mp-user {
			position: relative;
			display: flex;
			flex-direction: column;
			width: 90%;
			padding: 19px 19px 13px 19px;
			margin-bottom: 28px;
			margin-top: 16px;
			border-radius: 10px;
			background: var(--white-color);
			box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.25);
			.mpu-top {
				display: flex;
				flex-direction: row;
				align-items: center;
				.mu-text {
					margin-left: 11px;
					.mu-name {
						margin-bottom: 8px;
						font-size: var(--medium-font);
						font-weight: var(--semi-bold);
					}
					.mu-classof {
						font-size: 13px;
						font-weight: var(--medium-bold);
					}
				}
				.mu-setting-img {
					position: absolute;
					right: 20px;
				}
			}
			.mpu-middle {
				margin-top: 12px;
				.mm-membership {
					font-size: var(--medium-font);
					font-weight: 900;
					color: var(--deep-blue-color);
					margin-right: 4px;
				}
			}
			.mpu-bottom {
				margin-top: 11px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				padding: 13px;
				background-color: var(--white-purple-color);
				border-radius: 10px;
				.mb-self-into-text {
					display: flex;
					flex-direction: column;
					.mb-si-main {
						font-size: var(--small-font);
						font-weight: var(--semi-bold);
						margin-bottom: 2px;
					}
					.mb-si-sub {
						font-size: var(--tiny-font);
						color: var(--gray-color);
					}
				}
				.mb-self-into-btn {
					background-color: var(--purple-color);
					padding: 8px;
					border-radius: 99px;
					font-weight: var(--bold);
					color: var(--white-color);
				}
			}
		}
		.mp-page {
			display: flex;
			flex-direction: row;
			justify-content: center;
			margin-bottom: 23px;
			.page-tap {
				display: inline-flex;
				height: 27px;
				flex-direction: column;
				justify-content: flex-end;
				align-items: center;
				gap: 7px;
				font-size: var(--medium-font);
				font-weight: var(--medium-bold);
				color: var(--light-gray-color);
				&.clicked {
					span {
						color: var(--black-color);
					}
					.page-hr {
						background-color: var(--light-gray-color);
						background-color: var(--deep-blue-color);
					}
				}

				.page-hr {
					background-color: var(--light-gray-color);
					height: 1px;
					width: 45vw;
				}
			}
		}
		.mp-card-list {
			width: 100%;
			margin-top: 16px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			justify-items: center;
			row-gap: 20px;
			position: relative;
			.mp-nothing-card {
				color: var(--light-gray-color);
				font-weight: var(--semi-bold);
				font-size: var(--medium-font);
				position: absolute;
			}
		}
	}
}
