.ProfileRegister {
    --select-default-color: #a0a0a0;
    .profileregisterbody {
        margin: 0 20px;
        padding-top: 52px;
        .inputtitle {
            font-size: var(--default-font);
            font-weight: var(--medium-bold);
            margin-bottom: 7px;
        }
        .inputcontainer {
            display: flex;
            flex-direction: row;
        }
        .nicknameinputcontainer {
            margin-top: 38px;
            .nicknameinput {
                width: 198px;
                height: 32px;
                border: 2px solid var(--light-gray-color);
                border-radius: 5px;
                font-size: var(--default-font);
                touch-action: manipulation;
                padding: 0;
                padding-left: 12px;
                margin-right: 9px;
            }
            .overlapresulttext {
                height: 14px;
                padding-left: 2px;
                margin-top: 8px;
                font-size: var(--small-font);
            }
        }
        .genderinputcontainer {
            margin-top: 23px;
            .checkboxcontainer {
                display: flex;
                flex-direction: row;
                margin-top: 12px;
                .malecheckbox {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-right: 25px;
                    column-gap: 8px;
                }
                .femalecheckbox {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    column-gap: 8px;
                }
                .gendertype {
                    font-size: var(--medium-font);
                    font-weight: var(--regular-bold);
                    color: var(--gray-color);
                }
            }
        }
        .majorselectcontainer {
            margin-top: 37px;
            .majorselect {
                width: 214px;
                height: 36px;
                border: 2px solid var(--light-gray-color);
                border-radius: 5px;
                background: url('https://i.ibb.co/GdzYcdf/Vector.png') calc(100% - 5px) center no-repeat;
                background-size: 10px;
                font-size: var(--default-font);
                font-weight: var(--regular-bold);
                //color: var(--gray-color);
                //color: var(--black-color);
                padding-left: 12px;         
            }
            select option[value=""][disabled] {
                display: none;
            }
        }
        .class_of_container {
            margin-top: 37px;
            .class_of_input {
                width: 198px;
                height: 32px;
                border: 2px solid var(--light-gray-color);
                border-radius: 5px;
                font-size: var(--default-font);
                touch-action: manipulation;
                padding: 0;
                padding-left: 12px;
            }
            .class_of_length_check {
                height: 14px;
                padding-left: 2px;
                margin-top: 8px;
                font-size: var(--small-font);
                color: var(--orange-color);
            }
        }
        .startbutton {
            margin-top: 55px;
        }
    }
}