.footer {
	display: flex;
	flex-direction: column;
	white-space: pre-wrap;
	font-size: 10px;
	zoom: 0.8;
	color: #3b3b3b;
	align-items: center;
	margin-top: 40px;
	.f-text {
		margin-bottom: 9px;
		display: flex;
		flex-direction: column;
		align-items: center;
		div {
			margin: 2px;
		}
	}
	.a-link {
		text-decoration: none;
		color: #3b3b3b;
	}
}
