.nav-bar {
	position: fixed;
	width: 100%;
	height: 60px;
	bottom: 0;
	background-color: var(--white-color);
	font-weight: 400;
	display: flex;
	flex-direction: row;
	z-index: 9999;
	padding-bottom: 10px;
	justify-content: space-evenly;
	// justify-content: center;
	.nb-link {
		text-decoration: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 20%;
		height: 100%;
		&.chat {
			svg {
				height: 25px;
				width: 25px;
			}
		}
		&.person {
			svg {
				height: 30px;
				width: 30px;
			}
		}
		.nb-btn-img {
			margin-bottom: 4px;
			path {
				fill: var(--light-gray-color);
			}
			&.chat {
				path {
					fill: var(--white-color);
					stroke: var(--light-gray-color);
				}
			}
			&.person {
				margin-bottom: 0px;
			}
		}
		.nb-btn-text {
			color: var(--light-gray-color);
			font-size: var(--small-font);
		}

		&:hover,
		&:active,
		&.nb-home,
		&.nb-mypage,
		&.nb-chat {
			.nb-btn-img {
				path {
					fill: var(--deep-gray-color);
				}
				&.chat {
					path {
						fill: var(--white-color);
						stroke: var(--deep-gray-color);
					}
				}
			}
			.nb-btn-text {
				color: var(--deep-gray-color);
			}
		}
	}
}
