:root {
	// COLOR
	--white-color: #ffffff;
	--black-color: #020617;
	--red-color: #fd6262;
	--orange-color: #f1754d;
	--yellow-color: #ffc727;
	--skyblue-color: #599fff;
	--purple-color: #6e7dff;
	--white-purple-color: #f0f2ff;
	--deep-blue-color: #2f3db8;
	--white-gray-color: #e2e8f0;
	--light-gray-color: #cbd5e1;
	--gray-color: #64748b;
	--deep-gray-color: #334155;

	// BOLD
	--regular-bold: 400;
	--medium-bold: 500;
	--semi-bold: 600;
	--bold: 700;

	// SIZE
	--tiny-font: 10px;
	--small-font: 12px;
	--default-font: 14px;
	--medium-font: 16px;
	--large-font: 24px;
}

.App {
	font-size: var(--default-font);
	font-weight: var(--regular-bold);
	font-family: 'Pretendard';
	font-weight: var(--regular-bold);
	color: var(--black-color);
}
